@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body
{
    overflow:hidden;
    margin: 0;
    cursor: crosshair;
}
header
{
    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 25px;
}
#name-label
{
    position: fixed;
    top: 5px;
    right: 10px;
    font-family: "Lobster";
    margin:0;
    text-shadow: 5px 5px 10px white;
}
footer{
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    min-height: 50px;;
    background-color: black;
    padding:a 10px 0px;
}
footer *
{
    color: green;
    margin: 0;
    text-align: center;
    letter-spacing: 0.1em;
    font-family: "Lobster";
}