@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body
{
    overflow:hidden;
    margin: 0;
    cursor: crosshair;
}
header
{
    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 25px;
}
#output-data
{
    position: fixed;
    top: 5px;
    right: 5px;
}
#info
{
    position: fixed;
    pointer-events: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.493);
    margin: 20px;
}
#sub-info
{
    color: blue;
    font-size: 2em;
    margin: 0;
    font-family: "Lobster";
}
#sub-sub-info
{
    color: lightseagreen;
    font-size: 1em;
    font-family: "Lobster";
}